<font size = "7"> Student Alcohol Consumption </font>

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
df = pd.read_csv(url)

In [4]:
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

<font size = "4"> Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column
 </font>

In [6]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [7]:
slice1= df.loc[:,['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian']]

In [8]:
slice1.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother

<font size = "4">Step 5. Create a lambda function that will capitalize strings.  </font>

In [10]:
capitalizer = lambda x: x.capitalize()

<font size = "4">Step 6. Capitalize both Mjob and Fjob  </font>

In [11]:
slice1["Mjob"].apply(capitalizer)
slice1["Fjob"].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

<font size = "4">Step 7. Print the last elements of the data set.  </font>

In [16]:
slice1.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

<font size = "4">Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob. </font>

In [20]:
df_new= df.map(lambda x: x.capitalize() if isinstance(x, str) else x)

In [21]:
df_new.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gp,F,18,U,Gt3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gp,F,17,U,Gt3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,Gp,F,15,U,Le3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,Gp,F,15,U,Gt3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,Gp,F,16,U,Gt3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10

<font size = "4">Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old). </font>

In [24]:
def mayority (edad):
    if edad > 17:
        return True
    else: 
        return False 
slice1['legal_drinker'] = slice1['age'].apply(mayority)

In [25]:
slice1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,False

<font size = "4">Step 10. Multiply every number of the dataset by 10. </font>

In [26]:
slice1= slice1.map(lambda x: x*10 if isinstance(x, (int, float)) else x)

In [27]:
slice1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,at_home,teacher,course,mother,10
1,GP,F,170,U,GT3,T,10,10,at_home,other,course,father,0
2,GP,F,150,U,LE3,T,10,10,at_home,other,other,mother,0
3,GP,F,150,U,GT3,T,40,20,health,services,home,mother,0
4,GP,F,160,U,GT3,T,30,30,other,other,home,father,0