<font size ="10">Filtering and Sorting Data (corrections) <size>

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [5]:
#chipo.head(15)
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

<font size ="5">Step 4. How many products cost more than $10.00? <size>

In [6]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

In [10]:
# products offered by Chipo, not number of items sold that cost over $10
chipo_filtered = chipo.drop_duplicates(['item_name', 'choice_description', 'item_price'])
products_over_10 = chipo_filtered[chipo_filtered['item_price'] > 10.00]
print("There are " + str(products_over_10.shape[0]) + " products which price is over 10.00.")

There are 794 products which price is over 10.00.

<font size ="5"><size>
<font size ="5">Step 5. What is the price of each item? print a data frame with only three columns item_name choice_description and product_price<size>

In [15]:
#products offered by chipo with their price
chipo_unitario = chipo[chipo.quantity == 1]
price_per_item = chipo_unitario[['item_name', 'item_price']]
price_per_item = price_per_item.drop_duplicates(['item_name', 'item_price'])
price_per_item.head(10)

                                item_name  item_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
5                            Chicken Bowl       10.98
6                           Side of Chips        1.69
7                           Steak Burrito       11.75
8                        Steak Soft Tacos        9.25
9                           Steak Burrito        9.25
10                    Chips and Guacamole        4.45

<font size ="5">Step 6. Sort by the name of the item<size>

In [17]:
chipo.sort_values(by='item_name', ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
...,...,...,...,...,...
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],6.49

<font size ="5">Step 7. What was the quantity of the most expensive item ordered?<size>

In [22]:
chipo.loc[chipo["item_price"].idxmax()]["quantity"]

np.int64(15)

In [24]:
#This is returning the same answer from the old notebook, might ask chatgpt what is going on...  RESPONSE:
# Your logic is impeccable for finding the index of the maximum value and then querying the quantity in that same position.
# However, there's a technical "trap" in this specific dataset that could give you an incorrect answer. 
#To answer "What was the quantity ordered of the most expensive item?", we first need to identify which item has the highest unit
#price and then see how much of it was ordered.
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']
max_unit_price = chipo['unit_price'].max()
most_expensive_items = chipo[chipo['unit_price'] == max_unit_price]
total_quantity = most_expensive_items.quantity.sum()
print(total_quantity)

30

<font size ="5">Step 8. How many times was a Veggie Salad Bowl ordered?<size>

In [26]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"]["quantity"].sum()

np.int64(18)

In [27]:
#Again, returning the same number as in the old notebook but i think the approach is correct this time

<font size ="5">Step 9.How many times did someone order more than one Canned Soda?<size>

In [28]:
mutiple_canned_sodas = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
print(len(mutiple_canned_sodas))

20