<font size ="8"> Filtering and Sorting Data</font>

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [3]:
chipo = pd.read_csv(url, sep='\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<font size ="5">Step 4. How many products cost more than $10.00?</font>

In [11]:
products_over_10 = chipo.loc[chipo.item_price>=10.00]

In [ ]:
#  data type change is needed here

In [12]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

TypeError: 'float' object is not subscriptable

In [13]:
chipo.item_price.dtype

dtype('float64')

In [17]:
products_over_10 = chipo.loc[chipo.item_price>=10.00]

In [25]:
print("There are " + str(products_over_10.item_name.nunique()) + " products which price is over 10.00.")

There are 31 products which price is over 10.00.

<font size="5"> Step 5. What is the price of each item? </font>
<font size="2"> print a data frame with only three columns item_name choice_description and product_price </font>

In [37]:
#prices = chipo.loc[:,["item_name","choice_description","item_price"]]
chipo['product_price'] = chipo['item_price'] / chipo['quantity']
prices = chipo.loc[:, ["item_name", "choice_description", "product_price"]].drop_duplicates()

In [41]:
print(prices.head(10))

                               item_name  \
0           Chips and Fresh Tomato Salsa
1                                   Izze
2                       Nantucket Nectar
3  Chips and Tomatillo-Green Chili Salsa
4                           Chicken Bowl
5                           Chicken Bowl
6                          Side of Chips
7                          Steak Burrito
8                       Steak Soft Tacos
9                          Steak Burrito

                                  choice_description  product_price
0                                                NaN           2.39
1                                       [Clementine]           3.39
2                                            [Apple]           3.39
3                                                NaN           2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...           8.49
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...          10.98
6                                                NaN           1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...          11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...           9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...           9.25

<font size="5"> Step 6. Sort by the name of the item </font>

In [43]:
prices.sort_values(by='item_name', ascending=False)

,item_name,choice_description,product_price
3889,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
781,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1699,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
738,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2851,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
...,...,...,...
341,6 Pack Soft Drink,[Diet Coke],6.49
721,6 Pack Soft Drink,[Nestea],6.49
3141,6 Pack Soft Drink,[Lemonade],6.49
298,6 Pack Soft Drink,[Sprite],6.49
357,6 Pack Soft Drink,[Coke],6.49

<font size="5">Step 7. What was the quantity of the most expensive item ordered?</font>

In [49]:
max_price = chipo.item_price.max()

In [50]:
most_exp = chipo[chipo.item_price == max_price]

In [51]:
print(most_exp)

      order_id  quantity                     item_name choice_description  \
3598      1443        15  Chips and Fresh Tomato Salsa                NaN

      item_price  product_price
3598       44.25           2.95

<font size="5">Step 8. How many times was a Veggie Salad Bowl ordered?</font>

In [54]:
veggie_salad_ordered_n_times = len(chipo[chipo.item_name == "Veggie Salad Bowl"])

In [59]:
print("The Veggie Salad Bowl was ordered " + str(veggie_salad_ordered_n_times) + " times")

The Veggie Salad Bowl was ordered 18 times

<font size="5">How many times did someone order more than one Canned Soda?</font>

In [64]:
mutiple_canned_sodas = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]

In [66]:
print(len(mutiple_canned_sodas))

20