<font size="14">PRACTICAL TASKS: PANDAS </font>

<font size="6">Ex2 - Getting and Knowing your Data </font>

<font size ="5">Step 1. Import the necessary libraries</font>

In [2]:
import pandas as pd

Step 2. Import the dataset

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep='\t')

<font size ="5">Step 4. See the first 10 entries</font>

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

<font size ="5">Step 5. What is the number of observations in the dataset?</font>

In [5]:
num_obs = len(chipo)
print(num_obs)

4622

In [6]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

<font size ="5">Step 6. What is the number of columns in the dataset? 
Step 7. Print the name of all the columns.</font>

In [7]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

There are five columns in the dataset

In [8]:
#CORRECTION
print(chipo.shape)

(4622, 5)

<font size ="5">Step 8. How is the dataset indexed?</font>

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

<font size ="5">Step 9. Which was the most-ordered item?</font>

In [25]:
most_o_item =chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)

In [26]:
most_o_item.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

 Step 10 For the most-ordered item, how many items were ordered?

In [ ]:
761 items were ordered.

<font size ="5">Step 11. What was the most ordered item in the choice_description column?</font>

In [29]:
most_CD_O_item =chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)

In [30]:
most_CD_O_item.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

<font size ="5">Step 12. How many items were orderd in total?</font>

In [35]:
chipo.quantity.sum()

np.int64(4972)

<font size ="5">Step 13. Turn the item price into a float. Check the item price type </font>

In [41]:
chipo.item_price.dtype

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [11]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

In [46]:
chipo.item_price.dtype

dtype('float64')

<font size="5">Step 14. How much was the revenue for the period in the dataset? <font>

In [47]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [12]:
#revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue = chipo.item_price.sum()

In [13]:
print("The revenue was: $" + str(revenue))

The revenue was: $34500.16


<font size="5">Step 15. How many orders were made in the period? <font>

In [62]:
chipo.order_id.nunique()

1834


<font size="5">Step 16. What is the average revenue amount per order? <font>

In [68]:
#revenue_per_order = chipo.order_id.nunique()/revenue 
revenue_per_order =

In [69]:
print(revenue_per_order)

0.04674157211735244


<font size="5">Step 17. How many different items are sold? <font>

In [76]:
chipo.item_name.nunique()

50