<font size ="7">Grouping</font>

In [1]:
import pandas as pd
users = pd.read_csv(url, sep='|', index_col='user_id')

NameError: name 'url' is not defined

In [3]:
users.head(10)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

<font size ="5">Step 4.Discover what is the mean age per occupation</font>

In [6]:
#users.groupby("occupation").mean()
mean_age = users.groupby('occupation').age.mean()

In [7]:
print(mean_age)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

<font size ="5">
Step 5. Discover the Male ratio per occupation and sort it from the most to the least</font>

In [ ]:
users['gender_n'] = users['gender'].apply(lambda x: 1 if x == 'M' else 0)

# 2. Agrupamos por ocupaci√≥n, calculamos la media y multiplicamos por 100
# 3. Ordenamos de mayor a menor (ascending=False)
male_ratio = (users.groupby('occupation').gender_n.mean() * 100).sort_values(ascending=False)

print(male_ratio)

<font size ="5">
Step 6. For each occupation, calculate the minimum and maximum ages</font>

In [11]:
users.groupby('occupation').age.agg([max,min])

C:\Users\Vvillanueva\AppData\Local\Temp\ipykernel_17504\1880099974.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  users.groupby('occupation').age.agg([max,min])
C:\Users\Vvillanueva\AppData\Local\Temp\ipykernel_17504\1880099974.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  users.groupby('occupation').age.agg([max,min])

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

<font size ="5">Step 7. For each combination of occupation and gender, calculate the mean age</font>

In [13]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

<font size ="5">Step 8. For each occupation present the percentage of women and men</font>

In [15]:
users['is_male'] = users['gender'].apply(lambda x: 1 if x == 'M' else 0) 
male_ratio = users.groupby('occupation').is_male.mean() * 100
female_ratio = 100 - male_ratio
gender_perc = pd.DataFrame({
    'Women %': female_ratio,
    'Men %': male_ratio
})

In [16]:
print(gender_perc)

                 Women %       Men %
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor          0.000000  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778