<font size="14">MPG Cars </font>

In [22]:
import pandas as pd
import numpy as np

In [3]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 =  "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

In [7]:
cars1.head()
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [5]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

<font size="5">Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1 </font>

In [10]:
#cars1 = cars1.drop(columns=['Unnamed: 9', 'Unnamed: 10',
 #'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'])
# this is not working
cars1 = cars1.dropna(axis=1, how='all')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

<font size="5">Step 5. What is the number of observations in each dataset?</font>

In [20]:
print(len(cars1))
print(len(cars2))

198
200

<font size="5">Step 6. Join cars1 and cars2 into a single DataFrame called cars </font>

In [15]:
cars = pd.concat([cars1, cars2], ignore_index=True)

In [16]:
cars.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl

In [21]:
print(len(cars))

398

<font size="5">Step 7,8. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000. Add the column owners to cars</font>

In [23]:
cars['owners'] = np.random.randint(15000, 73001, size=len(cars))
print(cars.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  owners
0       1  chevrolet chevelle malibu   33997
1       1          buick skylark 320   56160
2       1         plymouth satellite   15245
3       1              amc rebel sst   38884
4       1                ford torino   59421