<font size="14">US - Baby Names </font>

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url)

Step 4. See the first 10 entries

In [2]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

<font size="5">Step 5. Delete the column 'Unnamed: 0' and 'Id'</font>

In [15]:
baby_names=baby_names.drop(columns=["Unnamed: 0","Id"])

<font size="5">Step 6. What year has the highest number of baby names in the dataset?
</font>

In [4]:
names_per_year = baby_names.groupby('Year')['Count'].sum()
best_year = names_per_year.idxmax()
print(best_year)

2007

<font size= "5">Step 7. Is there more male or female names in the dataset? <font>

In [5]:
print(baby_names['Gender'].value_counts())

Gender
F    558846
M    457549
Name: count, dtype: int64


<font size="5">Step 8. Group the dataset by name and assign to names
</font>

In [10]:
#del baby_names["Year"]
names = baby_names.groupby("Name").sum()
names.head(15)
print(names.shape)

(17632, 3)

<font size="5">Step 9. How many different names exist in the dataset? </font>

In [11]:
len(names)

17632

<font size="5">Step 10. What is the name with most occurrences? </font>

In [21]:
#baby_names.Name.value_counts()
names_total = baby_names.groupby('Name')['Count'].sum() 
print(names_total.idxmax())
# hice con group by como me dijiste, ahora bien:
# me da un nombre diferente a Riley ( a este lo saque con value counts), no termino de enteder cual es la diferencia...
# deberian ser los mismos resultados, no?

Jacob

In [37]:
print("The name with most occurences is Riley")

The name with most occurences is Riley

<font size="5">Step 11. How many different names have the least occurrences?
 </font>

In [55]:
least_oc = baby_names.Name.value_counts().tail(3685) 
print(least_oc)

Name
Latoria      2
Shanteria    2
Gevorg       2
Grettell     1
Dawsen       1
            ..
Terryn       1
Yanna        1
Zemirah      1
Emmilyn      1
Coalton      1
Name: count, Length: 3685, dtype: int64

In [17]:
names_total = baby_names.groupby('Name')['Count'].sum()
min_value = names_total.min()
names_with_min_occ = len(names_total[names_total == min_value])
print(f"Hay {names_with_min_occ} nombres diferentes con solo {min_value} ocurrencias.")

Hay 2578 nombres diferentes con solo 5 ocurrencias.

<font size="5">Step 12. What is the median name occurrence?
 </font>

In [63]:
median_occ = names_total.median()
print(median_occ)

49.0

<font size="5">Step 13. What is the standard deviation of names?<font>

In [64]:
std_occ = names_total.std()
print(std_occ)

11006.069467891111

<font size="5">Step 14. Get a summary with the mean, min, max, std and quartiles.<font>

In [60]:
names_total.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64